<%= form_for @completed_assignment, url: :homework do |f| %>
  <% if @completed_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@completed_assignment.errors.count, "error") %> prohibited this completed_assignment from being saved:</h2>

      <ul>
      <% @completed_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :assignment_id %>
  <%= f.text_field :github_url %>
  <%= f.submit "Turn In" %>
<% end %>
